.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 2rem;
  border: 1px solid #e3e3e3;
  width: 450px;
  height: 245px;
  border-radius: 10px;
  background: #ffffffd9;
}

.button {
  padding: 5px 10px;
  border: 1px solid #07588e;
  border-radius: 3px;
  background-color: #056fb6;
  color: #FFF;
  cursor: pointer;
}